:root {
	--bg: #000000;
	/* --bg: #eee; */
	--gray60: rgb(91, 97, 110);
}

@font-face {
	font-family: 'BerkeleyMonoVariable';
	font-style: normal;
	font-stretch: 100%;
	font-display: swap;
	src: url('/fonts/BerkeleyMonoVariable-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'BerkeleyMonoVariable';
	font-style: italic;
	font-stretch: 100%;
	font-display: swap;
	src: url('/fonts/BerkeleyMonoVariable-Italic.woff2') format('woff2');
}

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	padding: 0;
	margin: 16px;
	font-family: 'BerkeleyMonoVariable', sans-serif;
	/* width: 100vw; */
	/* height: 100vh; */
	background-color: var(--bg);
	color: white;
}
#title {
	color: #d8ffd5;
	font-size: 3em;
	margin: 0.67em 0;
}
h1 {
	color: #dafdba;
	margin-top: 1em;
	border-top: thick double #dafdba;
	padding-top: 1em;
}
h2 {
	color: #9aeba3;
	margin-top: 1em;
	border-top: thin dashed #9aeba3;
	padding-top: 1em;
}
h3 {
	color: #45c4b0;
}
h4 {
	color: #13678a;
}
a {
	color: white;
}
a:hover {
	color: #9aeba3;
}

hr {
	margin: 32px 0px;
}

video {
	width: 100%;
	height: auto;
	max-width: 720px;
}

a.button,
button {
	object-fit: cover;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #45c4b0;
	border-radius: 4px;
	color: #012030;
	padding: 16px 32px;
	cursor: pointer;
	text-align: center;
	font-weight: bolder;
}
a.button:hover,
button:hover {
	background: #9aeba3;
	color: #012030;
}

/* CUSTOM */
.examples-container,
.options-container {
	margin: 16px 0px;
}
.examples-container h3,
.options-container h3 {
	margin: 0;
	padding: 8px 16px;
	border: 1px dashed white;
	/* padding: 16px; */
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;
}
.examples-container ul,
.options-container ul {
	padding: 16px 32px;
	margin: 0;
}
.examples,
.options {
	border: 1px dashed white;
	padding: 16px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.note {
	font-style: italic;
	margin: 8px 0;
}

/* FORMS */
input[type='text'] {
	margin: 0;
	margin-bottom: 8px;
	padding: 12px 16px;
	line-height: 1.2;
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	word-spacing: 0px;
	border-style: solid;
	border-width: 0;
	opacity: 1;
	flex: 1;
	user-select: all;
	width: 100%;
	display: block;
	/* max-width: 720px; */
	border-color: var(--gray60);
	border-width: 1px;
	border-style: solid;
}
input[type='text']:focus {
	outline-style: none;
	box-shadow: none;
}
input[type='text']:read-only {
	color: grey;
	user-select: all;
}
input[type='checkbox'] {
	margin: 16px 0;
}

select {
	/* margin: 8px 0px; */
}
label {
	margin: 0px 8px;
}

/* TODO TEMP  */
