/*  */
.obs-text {
	font-size: 36px;
}

/*  */
@keyframes fadeAnimation {
	0%,
	5%,
	25%,
	100% {
		opacity: 0;
	}
	10%,
	20% {
		opacity: 1;
	}
}
.animate {
	animation: fadeAnimation 60s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

/*  */
.gradient {
	text-transform: uppercase;
	background-image: linear-gradient(-225deg, #fff800 0%, #00f1ff 29%, #ff94b1 67%, #fff800 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 2s linear infinite;
	display: inline-block;
}

@keyframes gradient {
	to {
		background-position: 200% center;
	}
}

/*  */
.jump {
	position: relative;
	-webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
	/* font-size: 60px; */
	white-space: pre-wrap;
}
.jump span {
	position: relative;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	animation: jump 1.25s infinite;
	animation-delay: calc(0.1s * var(--i));
}
@keyframes jump {
	0%,
	40%,
	100% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-10px);
	}
}

/*  */
.wave {
	white-space: nowrap;
	/* font-size: 1.25em; */
	font-size: 1em;
	height: 1em;
}

.wave div {
	color: #fff;
	font-size: 1em;
	position: absolute;
	/* transform: translate(-100%, 0%); */
}

.wave div:nth-child(1) {
	/* color: transparent; */
	/* -webkit-text-stroke: 1px white; */
}

.wave div:nth-child(2) {
	color: greenyellow;
	animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
	0%,
	100% {
		clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}
